@use './Font'

.card
    background: var(--background__card)
    border-radius: 10px
    box-sizing: border-box
    color: var(--font__primary)
    display: flex
    flex-direction: column
    height: 454px
    justify-content: space-between
    padding: 34px 28px
    width: 350px

    h2
        font-size: 1.1rem
        text-align: center

    .card--button
        background: var(--background__button)
        border-radius: 8px
        border: none
        color: var(--font__button)
        cursor: pointer
        height: 47px
        letter-spacing: 1px
        width: 100%

    .card--button:hover
        background: transparent
        border: 2px solid var(--separation)
        color: var(--font__button--hover)

@media only screen and (max-width:1060px)
    .card
        margin: 16px 0
        width: 330px
