@use './Font'

.Card
    // border: 1px solid red
    width: 350px
    height: 454px
    border-radius: 10px
    box-sizing: border-box
    padding: 34px 28px
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: white
    color: hsl(232, 13%, 33%)

    .Card--Button
        width: 100%
        height: 47px
        border: none
        border-radius: 8px
        background: linear-gradient(145deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%))
        color: white
        letter-spacing: 1px
